{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>注册</title>
{% endblock %}



{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'mine/css/register.css' %}">
{% endblock %}

{% block EXTJS %}
    <script src="{% static 'mine/js/registerr.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="register">
        <div class="back">
            <a href="{% url 'axf:mine' %}">
                <span class=" glyphicon glyphicon-remove "></span>
            </a>
        </div>

        <form action="{% url 'axf:login' %}" method="post">
            {% csrf_token %}

            <div class="input-group">
                <span class="input-group-addon">用户名</span>
                <input type="text" class="form-control"  name="username">

            </div>
            <span style="color: red;">{{ username_err }}</span>
            <div class="input-group">
                <span class="input-group-addon">密码</span>
                <input type="password" class="form-control"  name="password">

            </div>
            <span style="color: red">{{ password_err }}</span>


            <input type="submit" value="登录" id="subButton">
        </form>
    </div>
{% endblock %}