{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>注册</title>
{% endblock %}



{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'mine/css/register.css' %}">
{% endblock %}

{% block EXTJS %}
    <script src="{% static 'mine/js/registerr.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="register">
        <div class="back">
            <a href="{% url 'axf:mine' %}">
                <span class=" glyphicon glyphicon-remove "></span>
            </a>
        </div>

        <form action="{% url 'axf:register' %}" method="post">
            {% csrf_token %}
                                    {#输入框样式#}
            <div class="form-group has-feedback" id="email-input">
                <div class="input-group">
                    <span class="input-group-addon">邮箱</span>
                    <input type="text" class="form-control" id="email-btn" placeholder="163邮箱/QQ邮箱.." name="email"
                     data-toggle="popover"  data-placement="bottom">
                </div>
                {#右边符号#}
                <span class="glyphicon  form-control-feedback" aria-hidden="true"></span>
            </div>


            <div class="form-group has-feedback" id="password-input">
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    <input type="password" class="form-control" id="password-btn" placeholder="6~10位数密码" name="password"
                     data-toggle="popover"  data-placement="bottom">
                </div>
                {#右边符号#}
                <span class="glyphicon  form-control-feedback" aria-hidden="true"></span>
            </div>


            <div class="form-group has-feedback" id="password2-input">
                <div class="input-group">
                    <span class="input-group-addon">确认</span>
                    <input type="password" class="form-control" id="password2-btn" placeholder="请再次输入密码"
                     data-toggle="popover"  data-placement="bottom">
                </div>
                {#右边符号#}
                <span class="glyphicon  form-control-feedback" aria-hidden="true"></span>
            </div>


            <div class="input-group">
                <span class="input-group-addon">昵称</span>
                <input type="text" class="form-control" placeholder="昵称" name="name">
            </div>

            <button id="subButton">注册</button>
        </form>
    </div>



{% endblock %}