{% extends 'base/base.html' %}

{% block title %}

{% endblock %}

{% block footer %}
    <footer>
        <a href="#" class="home">
            <dl>
                <dt><span></span></dt>
                <dd>首页</dd>
            </dl>
        </a>

        <a href="#" class="market">
            <dl>
                <dt><span></span></dt>
                <dd>闪购超市</dd>
            </dl>
        </a>

        <a href="#" class="market">
            <dl>
                <dt><span></span></dt>
                <dd>购物车</dd>
            </dl>
        </a>

        <a href="#" class="market">
            <dl>
                <dt><span></span></dt>
                <dd>我的</dd>
            </dl>
        </a>
    </footer>
{% endblock %}