{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知我药妆</title>
    <link href="{% static 'common/css/common.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'common/js/jquery-1.12.0.js' %}"></script>
    <script src="{% static 'common/js/common.js' %}"></script>
</head>
<body>

<!--顶部图片-->
<!--<div class="top-img"></div>-->


<!---------------------------------------顶部导航---------------------------------->
<div class="headertop">
    <div class="headertop-box w1100">
        <!--左边-->
        <ul class="headertop-left">
            <li>欢迎来到知我！这里，用专业呵护美丽。</li>
            <li><a href="#">请登录</a></li>
            <li><a href="#">快速注册</a></li>
        </ul>
        <!--右边-->
        <ul class="headertop-right">
            <li class="item_personal item_btn">
                <a href=""><span>微信商城</span><i></i></a>
                <div class="item_personal_two item_cont">
                    <p class="wechat_ewm_img"><img src="{% static 'common/images/2.jpg' %}"></p>
                </div>
            </li>
            <li class="item_phone"><a href=""><i></i>手机知我</a></li>
            <li class="item_personal item_btn">
                <a class="" href=""><span>我的小窝</span><i></i></a>
                <div class="item_personal_my item_cont">
                    <ul>
                        <li><a href="">我的订单</a></li>
                        <li><a href="">我的优惠券</a></li>
                        <li><a href="">我的收藏</a></li>
                        <li><a href="">我的预订</a></li>
                        <li><a href="">我的积分</a></li>
                    </ul>
                </div>
            </li>
            <li class="item_line">|</li>
            <li class="item_service item_btn">
                <a href=""><span>客户服务</span><i></i></a>
                <div class="item_personal_client item_cont">
                    <ul>
                        <li><a href="">帮助中心</a></li>
                        <li><a href="">新浪微博</a></li>
                        <li><a href="">正品承诺</a></li>
                        <li><a href="">真伪查询</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-----------------------------------顶部搜索+logo---------------------------->
<div class="header_center">
    <div class="header_center_box w1100">
        <!--logo图标-->
        <div class="header_logo">
            <img src="{% static 'common/images/logo.jpg' %}">
        </div>
        <!--搜索框-->
        <div class="header_search">
            <div class="search_box header_searchbox">
                <form class="clearfix search_form" action="" method="get">
                    <input class="search_box_text" name="keyword" type="text" value="可莱丝">
                    <input class="search_box_btn" name="search" type="button" value="搜索">
                </form>
                <p>
                    <a href="">保湿<span class="item_line">|</span></a>
                    <a href="">面膜<span class="item_line">|</span></a>
                    <a href="">洗面奶<span class="item_line">|</span></a>
                    <a href="">补水<span class="item_line">|</span></a>
                    <a href="">香水<span class="item_line">|</span></a>
                    <a href="">口红</a>
                </p>
            </div>
        </div>
        <!--购物车-->
        <div class="header-shop">
            <p><a href="">我的购物车</a></p>
        </div>
    </div>
</div>

<!-----------------------------------订单列表---------------------------->



<!-----------------------首页导航------------------------>
<div class="header-mainnav">
    <div class="header-mainnav-box w1100">
        <!--菜单-->
        <div class="index-nav">
            <!--左边-->
            <div class="nav-left">
                <ul>
                    <li>
                        <a class="mainnav" href="/">首页</a>
                    </li>
                    <li class="zhiwo">
                        <a href="/">知我商城</a>

                        <!--导航条二级菜单-->
                        <div class="shop-two">
                            <div class="shop-two-left">
                                <div class="shop1 shop">
                                    <div class="shop1-intro shop-intro">
                                        <a href="/">护肤</a>
                                    </div>
                                    <div class="shop-intro-inline"></div>
                                    <a href="">面膜面贴</a>
                                    <a href="">乳液凝露</a>
                                    <a href="">洁面卸妆</a>
                                    <a href="">眼精华/眼霜</a>
                                    <a href="">防晒隔离</a>
                                    <a href="">化妆水爽肤水</a>
                                    <a href="">眼膜/眼贴</a>
                                    <a href="">精华</a>
                                </div>
                                <div class="shop2 shop">
                                    <div class="shop2-intro shop-intro">
                                        <a href="/">药妆</a>
                                    </div>
                                    <div class="shop-intro-inline"></div>
                                    <a href="">乳液面霜</a>
                                    <a href="">洁面卸妆</a>
                                    <a href="">面部精华</a>
                                    <a href="">化妆水爽肤水</a>
                                    <a href="">面膜面贴</a>
                                    <a href="">喷雾</a>
                                    <a href="">眼精华/眼霜</a>
                                    <a href="">防晒隔离</a>
                                </div>
                                <div class="shop3 shop">
                                    <div class="shop3-intro shop-intro">
                                        <a href="/">洗护</a>
                                    </div>
                                    <div class="shop-intro-inline"></div>
                                    <a href="">洗发护发</a>
                                    <a href="">口腔护理</a>
                                    <a href="">沐浴润体</a>
                                    <a href="">身体乳霜</a>
                                    <a href="">手足护理</a>
                                    <a href="">美体瘦身</a>
                                    <a href="">防晒隔离</a>
                                    <a href="">润唇膏</a>
                                </div>
                                <div class="shop4 shop">
                                    <div class="shop4-intro shop-intro">
                                        <a href="/">彩妆香氛</a>
                                    </div>
                                    <div class="shop-intro-inline"></div>
                                    <a href="">唇彩/口红</a>
                                    <a href="">女士香水</a>
                                    <a href="">粉饼/蜜粉</a>
                                    <a href="">男士香水</a>
                                    <a href="">睫毛</a>
                                    <a href="">眼线</a>
                                    <a href="">腮红/胭脂</a>
                                    <a href="">粉底/妆前乳</a>
                                    <a href="">眼影/彩妆盘</a>
                                    <a href="">BB霜/CC霜</a>
                                </div>
                            </div>
                            <div class="shop-two-right">
                                <a href=""><img src="{% static 'images/index/guoqin.jpg' %}"></a>
                            </div>
                        </div>

                    </li>
                    <li class="overseas_nav">
                        <a class="mainnav" href="">
                            <img class="overseas_nav_img1" style="display: block;"
                                 src="{% static 'common/images/overseas_nav_01.gif' %}">
                            <img class="overseas_nav_img2" style="display: none;"
                                 src="{% static 'common/images/overseas_nav_02.gif' %}">
                        </a>
                    </li>
                </ul>
            </div>
            <!--右边-->
            <div class="nav-right">
                <ul class="clearfix">
                    <li class="fcb_invest"><span>百度投资</span></li>
                    <li class="fcb_quality"><span>真品保证</span></li>
                    <li class="fcb_mail"><span>2件包邮</span></li>
                    <li class="fcb_return"><span>30天无理由退换货</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-----------------------------------尾部-------------------->
<div class="footer">
    <div class="footer-box w1100">
        <!--尾部表格-->
        <div class="footer-center">
            <div class="footer-center-left">
                <table class="tab-one">
                    <tbody>
                    <tr>
                        <th>真品保证</th>
                        <th>30天包退</th>
                        <th>2件包邮</th>
                        <th>药妆专柜</th>
                        <th>关于知我</th>
                        <th>新手指南</th>
                        <th>联系方式</th>
                    </tr>
                    <tr>
                        <td><a href="">品牌合作</a></td>
                        <td><a href="">退换货政策</a></td>
                        <td><a href="">配送政策</a></td>
                        <td><a href="">肤质判定</a></td>
                        <td><a href="">知我介绍</a></td>
                        <td><a href="">购物流程</a></td>
                        <td><a href="">在线客服咨询</a></td>
                    </tr>
                    <tr>
                        <td><a href="">严格把关</a></td>
                        <td><a href="">办理退换货</a></td>
                        <td><a href="">快递查询</a></td>
                        <td><a href="">肌肤问题</a></td>
                        <td><a href="">商务合作</a></td>
                        <td><a href="">支付方式</a></td>
                        <td><a href=""><span style="font-weight: bold;">热线</span></a></td>
                    </tr>
                    <tr>
                        <td><a href="">百度投资</a></td>
                        <td><a href="">售后服务</a></td>
                        <td><a href=""></a></td>
                        <td><a href="">达人推荐</a></td>
                        <td><a href="">友情链接</a></td>
                        <td><a href="">化妆品品牌大全</a></td>
                        <td><a href=""><span
                                style="color: #00c8ff;font-size: 12px;font-weight: bold">400-630-1018</span></a></td>
                    </tr>
                    <tr>
                        <td><a href="">全球品牌直供</a></td>
                        <td><a href=""></a></td>
                        <td><a href=""></a></td>
                        <td><a href="">护肤常识</a></td>
                        <td><a href="">开放API</a></td>
                        <td><a href=""></a></td>
                        <td><a href=""></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer-center-right">
                <table class="tab-two">
                    <tbody>
                    <tr>
                        <th>知我微信商城</th>
                    </tr>
                    <tr>
                        <th><img src="{% static 'common/images/2.jpg' %}" style="width: 100px;height: 100px;"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--商家保证-->
    <div class="footer_bus">
        <ul class="">
            <li class="fcb_invest">
                <span>百度投资</span>
            </li>
            <li class="fcb_quality">
                <span>真品保证</span>
            </li>
            <li class="fcb_return">
                <span>30天包退</span>
            </li>
            <li class="fcb_mail">
                <span>两件包邮</span>
            </li>
        </ul>
    </div>
    <!--友情链接-->
    <div class="links-friendly-box w1100">
        <div class="links-friendly-title">友情链接：</div>
    </div>
    <div class="footer_copyright">
        <p class="footer_c_text1">@2011-2014 般若天成（北京）科技有限公司 zhiwo.com 保留一切权利。客服热线：400-630-1018</p>
        <p class="footer_c_text2">
            <a rel="nofollow" target="_blank" href="http://www.miibeian.gov.cn/">京ICP备10047008号</a>
            |
            <a rel="nofollow" target="_blank" href="http://www.miibeian.gov.cn/">京ICP证110762号</a>
            | 网公安备1101054365号 | 营业执照
        </p>
        <p>
            <img alt="支付特约商家" src="{% static 'common/images/footer_copy_02.jpg' %}">
            <img alt="快捷支付" src="{% static 'common/images/footer_copy_03.jpg' %}">
            <img alt="网上交易保障中心" src="{% static 'common/images/footer_copy_05.jpg' %}">
        </p>
    </div>
</div>

</body>
</html>

{#container#}